* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

img:hover {
  cursor: pointer;
}

/* nav */
.headted {
  padding: 20px 18px;
  background-color: rgb(206, 201, 201);
  font-family: sans-serif;
  font-size: 15px;
}

.link {
  padding: 5px 30px;
  border-bottom: solid rgb(219, 215, 215);
  display: flex;
  justify-content: space-between;

}

.link a {
  text-decoration: none;
}

.tag {
  display: flex;
  align-items: center;
  gap: 10px;
}

.idea {
  color: rgb(119, 117, 117);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.ted {
  font-size: 40px;
  color: red;
  font-weight: 200;
  font-family: fantasy;
}

.link2 {
  display: flex;
}

.link2 ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link2 ul li {
  list-style-type: none;
  margin: 10px 10px;

}

.link2 ul li a {
  color: rgb(70, 68, 68);
  font-weight: 650;
  font-family: sans-serif;
  font-size: 13.5px;

}

.btn {
  padding: 5px 15px;
  border: none;
  background-color: red;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  align-items: center;
  height: 2.8rem;
  margin: 5px;
}

.material-symbols-outlined {
  font-size: 35px;
  margin-left: 10px;
}

/* Header */

.header1 {
  margin: 30px 5rem;
}

.science1 {
  display: flex;
  margin: 25px 0px;
  align-items: center;

}

.red {
  color: red;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.like {
  color: gray;
  font-size: 13px;
}

/* cards */

.cards {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card {
  border-right: 1px solid rgb(203, 200, 200);
  padding: 10px 12px;
}

.card img {
  width: 100%;
  height: 150px;
}

.card4 {
  border: none;
}

/* discover */
.discover {
  background-color: black;
  color: white;
  display: flex;
  padding: 35px 2rem;
  margin: 0px 0px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.discover h1 {
  margin: 0 40px 0 0;
}

.btn2 {
  padding: 10px 15px;
  margin: 5px;
  background-color: rgb(103, 101, 101);
  color: white;
  font-weight: 600;
  border-radius: 5px;
  font-size: 18px;
  align-items: center;
  border: none;
}

.btn3 {
  border-radius: 50%;
  padding: 15px;
  font-size: 18px;
  background-color: rgb(163, 160, 160);
  color: black;
}

.discover a {
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

/* ted support */
.tedsupport {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-bottom: 30px;
}

.tedsupport p {
  color: gray;
}

.tedsupport img {
  width: 800px;
  height: 100px;
}

/* recommed */


.recommendedvideo {
  display: flex;
}

.recommended1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 1px solid rgb(221, 218, 218);
  padding: 5px 10px;
}

.bordernone {
  border: none;
}

/* tedcard */

.tedcard {
  display: flex;
  justify-content: space-between;
}

.tedcard a {
  color: black;
  font-weight: 550;
}

.videoes img {
  width: 310px;
  height: 180px;
}

.videoes {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}

.videocard {
  border-right: 1px solid rgb(216, 212, 212);
  padding: 10px 13px;
}

.videocardnone {
  border: none;
}

/* Unlock your greatest potential */
.btn4 {
  background-color: black;
  font-size: 15px;
  width: 8rem;
}

.unlock {
  display: flex;
}

.unlock p {
  color: 18gb(83, 82, 82);
  font-size: 17px;
  margin-top: 10px;
}

.unlock1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin: 10px;
}

.unlock img {
  align-items: end;
}

/* ai */
.ai {
  display: flex;
}

.ai p {
  font-size: 20px;
  margin-left: 40vw;
}

.ai h1 {
  font-size: 80px;
}

.ai a {
  color: black;
  font-size: 18px;
  font-weight: 550;
}

/* techology */
.technology {
  display: flex;
}

.technology1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 1px solid rgb(187, 184, 184);
  padding-right: 50px;
}

.flex {
  display: flex;
}

.technology2 {
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.technology2 img {
  width: 400px;
  height: 200px;
}

.grayborder {
  border-right: 1px solid rgb(184, 181, 181);
}

.TED-Ed p {
  margin-left: 30vw;
}

.tedbanner img {
  width: 100%;
  height: 5%;
}

h4 {
  text-transform: uppercase;
}

/* trending */
.trendcontainer {
  display: flex;
}

.trendscard {
  display: flex;
  padding: 20px;
  background-color: rgb(246 246 246);
  margin: 10px;
  width: 40vw;
}

.trendscard h2 {
  font-size: 1.4em;
  font-weight: 600;
}

.trendscard .number {
  font-size: 50px;
  font-weight: 400;
  margin: 10px 20px;

}

.contendtrend {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* idea */
.ideacontainer {
  display: flex;
  background-color: black;
  color: white;
  padding: 20px;
  padding-top: 3rem;
  margin-top: 30px;
}

.ideacontainer p {
  font-size: 1.2em;

}

.ideaimg img {
  width: 900px;
}

.btn5 {
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 15px 30px;

}

/* countdown */
.countdowncontainer {
  display: flex;

}

.countdowncards {
  width: 60%;
}

.countdown {
  border-top: 1px solid black;
  padding-top: 20px;
}

.countdowntdn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.countdowntdn .like {
  font-size: 17px;
}

.countdowncard {
  display: flex;
}

.countdowncard h1 {
  font-size: 2.2em;
}

.countdowncard img {
  width: 400px;
  height: 250px;

}

/* productcontainer */
.productcontainer {
  display: flex;
}

.productcontainer img {
  width: 300px;
  height: 200px;
}

.productcard {
  width: 25%;
  border-right: 1px solid rgb(210, 206, 206);
  margin-right: 30px;
  padding-right: 20px;

}

.productcard h2 {
  font-size: 1.3em;
}

.bordernone {
  border: none;
}

/* Newsletters  */
.newsletter {
  background-color: rgb(41, 41, 41);
  color: white;
  /* text-align: center; */
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter img {
  width: 180px;
  height: 150px;

}

.btn6 {
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 15px 50px;
}

.newscard {
  align-items: flex-start;
  border-right: 1px solid white;
  padding: 10px 20px;
}

.bordernone {
  border: none;
}

.newsletters p {
  font-size: 18px;
}

.newsletter input {
  padding: 20px;
  width: 25rem;
  border-radius: 5px;
  margin-bottom: 20px;
}

.newsletter a {
  color: white;
}

.btn7 {
  background-color: rgb(167, 166, 166);
  color: black;
  width: 13rem;
  font-size: 16px;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;


}

.footercontainer h1 {
  margin-left: 13vw;

}

.footermain {
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  padding: 10px;

}

.footerlink input {
  padding: 20px;
  width: 20rem;
}

.footerlink {
  margin: 10px;
  padding: 10px;
  margin-top: 0;

}

.footerlink ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bold {
  font-weight: 800;
}

.footerlink ul li {
  list-style: none;
}

.footerlink ul li:hover {
  text-decoration: underline;
}

.btn8 {
  padding: 20px;
  background-color: rgb(8, 8, 8);
  color: white;
  border: 2px solid white;
  margin: 0;
  width: 8rem;
  height: 3.8rem;
  border-left: none;
}

.sociallink {
  display: flex;
}

.sociallink img {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(174, 169, 169);
  margin: 10px;
  border-radius: 50%;
  background-color: white;
}

.appstore img {
  width: 120px;
  height: 60px;
  border: 2px solid white;
  margin: 10px;
  border-radius: 10px;
}

.lastlink {
  gap: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lastlink UL {
  margin: 20PX;
  padding: 10PX;
}